@import "./reset.css";

body {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: hidden;
}

button {
  outline: 0;
  cursor: pointer;
}

.option-description {
  position: absolute;
  background-color: transparent;
  width: 50vw;
  text-align: center;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
}

.game-options {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  border-radius: 100px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 30px;
}

.option {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 0px solid black;
  font-size: 2em;
  background-color: rgba(128, 128, 128, 0.1);
}

.option:hover {
  transform: scale(1.02);
  border: 1px solid black;
  transition: all 1s;
}

.game-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr) 18fr;
}

.controller-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  width: 90%;
  height: 100%;
  align-self: center;
  justify-self: center;
  text-align: center;
  gap: 10px;
  align-items: center;
}

.controller {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  height: fit-content;
}

.controller:hover {
  background-color: lightgray;
}

.controller:active {
  transform: scale(1.01);
}

.game-result {
  background-color: transparent;
  border-radius: 10px;
  font-size: 2em;
}

.status {
  justify-self: center;
  display: grid;
  width: 90%;
  align-items: center;
  gap: 10px;
  font-size: 2em;
}

.status--solo {
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.status--duo {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "description description description description"
    "left left-score right-score right";
  align-items: center;
}

.description {
  justify-self: center;
  grid-area: description;
}

.left.player-name {
  grid-area: left;
}

.left.player-score {
  grid-area: left-score;
  text-align: center;
}

.right.player-score {
  grid-area: right-score;
  text-align: center;
}

.right.player-name {
  grid-area: right;
  text-align: right;
}

.cards-container[data-size="16"] {
  align-self: center;
  justify-self: center;
  display: grid;
  width: 95%;
  height: 95%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

.cards-container[data-size="36"] {
  align-self: center;
  justify-self: center;
  display: grid;
  width: 95%;
  height: 95%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}

.card {
  position: relative;
  background-color: transparent;
  border-radius: 10px;
  text-align: center;
  perspective: 1000px;
}

.card:hover {
  border: 3px solid black;
  transition-property: border;
  transition-duration: 0.1s;
  cursor: pointer;
}

.card:nth-child(3n) .card-cover {
  background-color: lightpink;
}

.card:nth-child(3n + 1) .card-cover {
  background-color: lightskyblue;
}

.card:nth-child(3n + 2) .card-cover {
  background-color: lightgreen;
}

.inner-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  border-radius: 10px;
}

.card.flip .inner-card {
  transform: rotateY(180deg);
}

.card-cover,
.card-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card-cover {
  backface-visibility: hidden;
}

.card-image-container {
  backface-visibility: visible;
}

.card-image {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.unclickable {
  pointer-events: none;
}

.invisible {
  display: none;
}

.clicked {
  border: 5px solid gray;
  transition: all 0.5s;
  background-color: lightgreen;
}
